html{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*, *:before, *:after{
	box-sizing: inherit;
}

.grade{
	display: flex;
	width: 50%;
	justify-content: space-between;
	align-items: center;
}

.important > span{
	color: red;
}

.grade > span:hover{
	cursor: pointer;
}