html{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*, *:before, *:after{
	box-sizing: inherit;
}

.task{
	display: flex;
	width: 50%;
	justify-content: space-between;
	align-items: center;
}

.completed > span{
	text-decoration: line-through;
}

.task > span:hover{
	cursor: pointer;
}